.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #22202187;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: var(--background);
    box-shadow: var(--boxShadow);
    padding: 3rem;
    border-radius: 5px;
    width: 90%;
    max-width: 650px;
    max-height: 80vh;
    overflow: hidden;
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 15px;
    right: 17px;
    font-size: 1.5rem;
    color: var(--color2);
    cursor: pointer;
    transition: 0.2s;
  }