.button{
    font-family: var(--font-family-text);
    font-size: 1rem;
    color: var(--color);
    background-color: #22202187;
    
    box-shadow: 0 0px 5px 2px var(--color3);
    border:none;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    cursor: pointer;

}

.button:hover{
    color: var(--color2);
    box-shadow: 0 0px 10px 5px var(--color3);
}

.buttonText{
    font-family: var(--font-family-text);
    font-size: 1rem;
    color: var(--color);
    background-color: transparent;
    border:none;
    padding: 0.7rem 1rem;
    cursor: pointer;

}

.buttonText:hover{
    color: var(--color2);
}