.button{
    font-family: var(--font-family-text);
    font-size: 1rem;
    color: var(--color);
    background-color: #22202187;
    
    box-shadow: 0 0px 5px 2px var(--color3);
    border:none;
    padding: 0.5rem 0.9rem;
    border-radius: 5px;
    cursor: pointer;

}

.button:hover{
    color: var(--color2);
    box-shadow: 0 0px 10px 5px var(--color3);
}

.buttonText{
    font-family: var(--font-family-text);
    font-size: 1rem;
    color: var(--color);
    background-color: transparent;
    border:none;
    padding: 0.7rem 1rem;
    cursor: pointer;

}

.buttonText:hover{
    color: var(--color2);
}


.mercury{
    box-shadow: 0 0px 5px 2px #886f5a;
    /* color: #886f5a;    */
  }
  
  .venus{
    box-shadow: 0 0px 5px 2px #9d5c1f;
  }
  
  .earth{
    box-shadow: 0 0px 5px 2px #586943; 
  }
  
  .mars{
    box-shadow: 0 0px 5px 2px #a24338;  
  }
  
  .jupiter{
    box-shadow: 0 0px 5px 2px #a38e6f;
  }
  
  .saturn{
    box-shadow: 0 0px 5px 2px #bdab9d;
  }
  
  .uranus{
    box-shadow: 0 0px 5px 2px #36a1b6;
  }
  
  .neptune{
    box-shadow: 0 0px 5px 2px #245d9b;
  }
  