.homePageContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(
        to bottom,
        var(--background) 0%,
        var(--background) 3%,
        transparent 20%
      ),
      linear-gradient(
        to left, 
        var(--background) 0%, 
        transparent 60%
      ),
      url("/background.png") no-repeat center center fixed;
    background-size: cover;
    position: relative;
  }
  
  .homeMain{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  
    
  }
  
  .homeMain h1{
    font-size: 3rem;
    margin-left: 1rem;
    z-index: 1;
  }
  
  .linkButton{
    margin: 3rem 0 0 1rem;
    z-index: 1;
  }
  
  .linkButton a{
    border-bottom: 2px solid var(--color3);
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    transition: 0.3s;
  }
  
  
  .linkButton a:hover{
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--color2);
  }
  
  
  .emptyContainer{
    /* border: 1px solid black; */
    background: linear-gradient(
      to bottom,
      var(--background) 0%,
      var(--background) 3%,
      transparent 5%
    ),#09090924;
  
    height: 100vh;
    width: 30%;
    position: absolute;
    top: 0;
    right: 20%;
    box-shadow: 0 15px 8px 1px var(--color3);
    align-self: flex-start;
    
  }
  